<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="~/css/templatemo-grad-school.css">

</head>

<body >


   

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="~/img/course-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Πανεπιστήμιο Πειραιώς</h6>
                <h2><em>Πυλη</em> Φοιτητολογιου</h2>
            </div>
        </div>
    </section>

    <!-- ***** Main Banner Area End ***** -->


    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-pencil"></i>Φοιτητές</h4>
                            </div>
                            <div class="content-hide">
                                <p>Σε αυτή την εφαρμογή οι φοιτητές έχουν πρόσβαση στις βαθμολογίες τους σε όλα τα μαθήματα τα οποία έχουν εξεταστεί. </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-graduation-cap"></i>Καθηγητές</h4>
                            </div>
                            <div class="content-hide">
                                <p>Σε αυτή την εφαρμογή οι καθηγητές έχουν την δυνατότητα να προβάλουν και να επεξεργάζονται βαθμούς φοιτητών για τα μαθήματα τα οποία διδάσκουν. </p>
                                                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-book"></i>Γραμματεία</h4>
                            </div>
                            <div class="content-hide">
                                <p>Σε αυτή την εφαρμογή τα μέλη της γραμματείας έχουν την δυνατότητα να καταχωρούν φοιτητές, καθηγητές και μαθήματα, καθως και να αναθέτουν μαθήματα σε καθηγητές και να δηλώνουν μαθήματα σε φοιτητές. </p>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/video.js"></script>
    <script src="~/js/slick-slider.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>